*,
*:before,
*:after { 
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

p, li, ul, ol{
    margin: 0;
    padding: 0;
}

input{
    border: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    border: none;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}