
<section class="about" id="about">
    <div class="container">
     <div class="about__inner">
        <div class="about__inner-title">
            <p class="about__label section-label">tradition and love</p>
            <h2 class="about__title section-title">HOW IT&#8217;S MADE?</h2>
        </div>
       <div class="about__details overlay">
          <div class="about__picture">
            <picture >
              <source 
              media="(min-width: 1200px)" 
              srcset="./image/3-about/cow_xl.png 1x, ./image/3-about/cow_xl@2x.png 2x" 
              type="image/png" 
              />
             <source media="(min-width: 768px)"
               srcset="./image/3-about/cow_md.png 1x, ./image/3-about/cow_md@2x.png 2x" 
               type="image/png" 
               />
               <source media="(max-width: 767px)"
                 srcset="./image/3-about/cow_sm.png 1x, ./image/3-about/cow_sm@2x.png 2x" 
                 type="image/png" 
                 />
              <img class="about__img" src="./image/3-about/cow_sm.png" alt="cow and milk" width="280">
           </picture>
          </div>
 
         <div class="about__description ">
          <p class="about__title-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
          <p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.<br> <br>Aliquam erat volutpat. Aenean accumsan.</p>
          <button class="about__btn btn-white btn-other" type="button">Read more &#62;</button>
         </div>
       </div>

     </div>
           
    </div>
</section>