<section class="advantages" id="advent">
    <div class="container">
        <div class="advantages__inner">
            <h2 class="advantages__title">advantages</h2>
           <ul class="advantages__list">
             <li class="advantages__item">
                <img class="advantages__image" 
                srcset="./image/4-advantages/milk.png 1x, ./image/4-advantages/milk2x.png 2x"
                src="./image/4-advantages/milk.png" 
                alt="milk" >

                <h3 class="advantages__title-text section-title">721</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
             </li>
             <li class="advantages__item">
                <img class="advantages__image" 
                srcset="./image/4-advantages/apples.png 1x, ./image/4-advantages/apples2x.png 2x"
                src="./image/4-advantages/apples.png" 
                alt="fruits">

                <h3 class="advantages__title-text section-title">16kg</h3>
                
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
             </li>
             <li class="advantages__item">
                <img class="advantages__image" 
                srcset="./image/4-advantages/ice-cream.png 1x, ./image/4-advantages/ice-cream2x.png 2x"
                src="./image/4-advantages/ice-cream.png" 
                alt="ice-cream">

                <h3 class="advantages__title-text section-title">84</h3>
               
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
             </li>
           </ul>

        </div>
    </div>
</section>