<section class="contacts">
  <div class="container">
    <div class="contacts__inner">
      <ul class="card-set">
        <li class="cardset__item">
          <p class="contacts__category">CAFE</p>
          <div class="contacts__place">
            <h3>Chicago</h3>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="conacts__work-hours">
            <h3>Monday - Friday</h3>
            <p>06:00 AM - 10:00 PM</p>
            <h3>Saturday - Sunday</h3>
            <p>08:00 AM - 16:00 PM</p>
          </div>
          <div class="contacts__contact">
            <p>+61(0) 383 766 284</p>
            <p>noreply@envato.com</p>
          </div>
        </li>
        <li class="cardset__item"></li>
        <li class="cardset__item"></li>
      </ul>
    </div>
  </div>
</section>
