<section class="contacts">
  <div class="container">
    <ul class="cardset">
      <li class="cardset__item contact__card">
        <p class="contacts__category--cafe">CAFE</p>
        <div class="contacts__place">
          <h3 class="contacts__header">Chicago</h3>
          <p class="contacts__desc">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="conacts__work-hours">
          <h3 class="contacts__header">Monday - Friday</h3>
          <p class="contacts__hours">06:00 AM - 10:00 PM</p>
          <h3 class="contacts__header">Saturday - Sunday</h3>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__contact">
          <a class="contacts__contact-link" href="tel:+61(0)383766284">
            +61(0) 383 766 284</a
          >
          <a class="contacts__contact-link" href="mailto:noreply@envato.com">
            noreply@envato.com
          </a>
        </div>
      </li>
      <li class="cardset__item contact__card">
        <p class="contacts__category--food-truck">FOOD TRUCH</p>
        <div class="contacts__place">
          <h3 class="contacts__header">Los Angeles</h3>
          <p class="contacts__desc">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="conacts__work-hours">
          <h3 class="contacts__header">Monday - Friday</h3>
          <p class="contacts__hours">06:00 AM - 10:00 PM</p>
          <h3 class="contacts__header">Saturday - Sunday</h3>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__contact">
          <a class="contacts__contact-link" href="tel:+61(0)383766284">
            +61(0) 383 766 284</a
          >
          <a class="contacts__contact-link" href="mailto:noreply@envato.com">
            noreply@envato.com
          </a>
        </div>
      </li>
      <li class="cardset__item contact__card">
        <p class="contacts__category--cafe">CAFE</p>
        <div class="contacts__place">
          <h3 class="contacts__header">New York</h3>
          <p class="contacts__desc">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="conacts__work-hours">
          <h3 class="contacts__header">Monday - Friday</h3>
          <p class="contacts__hours">06:00 AM - 10:00 PM</p>
          <h3 class="contacts__header">Saturday - Sunday</h3>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__contact">
          <a class="contacts__contact-link" href="tel:+61(0)383766284">
            +61(0) 383 766 284</a
          >
          <a class="contacts__contact-link" href="mailto:noreply@envato.com">
            noreply@envato.com
          </a>
        </div>
      </li>
    </ul>

    <!-- Buttons -->
    <ul class="contacts_button">
      <li class="contacts_locations">
        <button class="contacts_locations-btn btn-red">Our Locations</button>
      </li>
      <li class="contacts_franchise">
        <button class="contacts_franchise-btn btn-white">Franchise</button>
      </li>
    </ul>
  </div>
</section>
