<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__text">
        homemade ice cream made <br />
        <span class="footer__text--bold">with passion</span>
      </div>
      <div class="content">
        <div class="socials">
          <a href="#" class="socials__link"
            ><svg width="32" height="32" class="socials__icon">
              <use href="./image/ico/icons.svg#icon-footer-github"></use></svg
          ></a>
          <a href="#" class="socials__link"
            ><svg width="32" height="32" class="socials__icon">
              <use href="./image/ico/icons.svg#icon-footer-telegram"></use></svg
          ></a>
          <a href="#" class="socials__link">
            <svg width="32" height="32" class="socials__icon">
              <use href="./image/ico/icons.svg#icon-footer-facebook"></use>
            </svg>
          </a>
        </div>
        <div class="footer__contacts">
          <p class="footer__contacts--text">
            Feel free to contact
            <a class="footer__contacts--tel" href="tel:+610383766284"
              >+61 (0) 383 766 284</a
            >
          </p>
        </div>
      </div>

      <div class="footer__copyright">
        <p>© 2022 - IceCream. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
