<section class="gallery">
    <div class="container">
        <div class="gallery__inner">
            <h2 hidden>Gallery</h2>
            <div class="gallery__grid">
                <figure class="gallery__item gallery__item--1">
                    <div class="gallery__box-img gallery__box-img--1">
                    <picture>								
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic1_xl.webp 1x, ./image/5-gallery/gallery-pic1_xl@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic1_xl.png 1x, ./image/5-gallery/gallery-pic1_xl@2x.png 2x"
                            type="image/png"
                        />                      
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic1_md.webp 1x, ./image/5-gallery/gallery-pic1_md@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic1_md.png 1x, ./image/5-gallery/gallery-pic1_md@2x.png 2x"
                            type="image/png"
                        />                       
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic1_sm.webp 1x, ./image/5-gallery/gallery-pic1_sm@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic1_sm.png 1x, ./image/5-gallery/gallery-pic1_sm@2x.png 2x"
                            type="image/png"
                        />
                        <img class="gallery__image" src="./image/5-gallery/gallery-pic1_sm.png" loading="lazy" alt="Icecream in plate" width="138" height="138"/>
                    </picture>
                </div>
                </figure>
                <figure class="gallery__item gallery__item--2">
                    <div class="gallery__box-img">
                    <picture>								
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic2_xl.webp 1x, ./image/5-gallery/gallery-pic2_xl@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic2_xl.png 1x, ./image/5-gallery/gallery-pic2_xl@2x.png 2x"
                            type="image/png"
                        />                      
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic2_md.webp 1x, ./image/5-gallery/gallery-pic2_md@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic2_md.png 1x, ./image/5-gallery/gallery-pic2_md@2x.png 2x"
                            type="image/png"
                        />                       
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic2_sm.webp 1x, ./image/5-gallery/gallery-pic2_sm@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic2_sm.png 1x, ./image/5-gallery/gallery-pic2_sm@2x.png 2x"
                            type="image/png"
                        />
                        <img class="gallery__image" src="./image/5-gallery/gallery-pic2_sm.png" loading="lazy" alt="Icecream in hand" width="138" height="138"/>
                    </picture>
                </div>
                </figure>
                <figure class="gallery__item gallery__item--3">
                    <div class="gallery__box-img">
                    <picture>								
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic3_xl.webp 1x, ./image/5-gallery/gallery-pic3_xl@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic3_xl.png 1x, ./image/5-gallery/gallery-pic3_xl@2x.png 2x"
                            type="image/png"
                        />                      
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic3_md.webp 1x, ./image/5-gallery/gallery-pic3_md@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic3_md.png 1x, ./image/5-gallery/gallery-pic3_md@2x.png 2x"
                            type="image/png"
                        />                       
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic3_sm.webp 1x, ./image/5-gallery/gallery-pic3_sm@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic3_sm.png 1x, ./image/5-gallery/gallery-pic3_sm@2x.png 2x"
                            type="image/png"
                        />
                        <img class="gallery__image" src="./image/5-gallery/gallery-pic3_sm.png" loading="lazy" alt="Icecreams on the table" width="138" height="138"/>
                    </picture>
                </div>
                </figure>
                <figure class="gallery__item gallery__item--4">
                    <div class="gallery__box-img gallery__box-img--4">
                    <picture>								
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic4_xl.webp 1x, ./image/5-gallery/gallery-pic4_xl@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic4_xl.png 1x, ./image/5-gallery/gallery-pic4_xl@2x.png 2x"
                            type="image/png"
                        />                      
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic4_md.webp 1x, ./image/5-gallery/gallery-pic4_md@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic4_md.png 1x, ./image/5-gallery/gallery-pic4_md@2x.png 2x"
                            type="image/png"
                        />                       
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic4_sm.webp 1x, ./image/5-gallery/gallery-pic4_sm@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic4_sm.png 1x, ./image/5-gallery/gallery-pic4_sm@2x.png 2x"
                            type="image/png"
                        />
                        <img class="gallery__image" src="./image/5-gallery/gallery-pic4_sm.png" loading="lazy" alt="Icecreams on table" width="283" height="283"/>
                    </picture>
                </div>
                </figure>
                <figure class="gallery__item gallery__item--5">
                    <div class="gallery__box-img">
                    <picture>								
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic5_xl.webp 1x, ./image/5-gallery/gallery-pic5_xl@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic5_xl.png 1x, ./image/5-gallery/gallery-pic5_xl@2x.png 2x"
                            type="image/png"
                        />                      
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic5_md.webp 1x, ./image/5-gallery/gallery-pic5_md@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic5_md.png 1x, ./image/5-gallery/gallery-pic5_md@2x.png 2x"
                            type="image/png"
                        />                       
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic5_sm.webp 1x, ./image/5-gallery/gallery-pic5_sm@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic5_sm.png 1x, ./image/5-gallery/gallery-pic5_sm@2x.png 2x"
                            type="image/png"
                        />
                        <img class="gallery__image" src="./image/5-gallery/gallery-pic5_sm.png" loading="lazy" alt="Girl with icecream" width="138" height="138"/>
                    </picture>
                </div>
                </figure>
                <figure class="gallery__item gallery__item--6">
                    <div class="gallery__box-img">
                    <picture>								
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic6_xl.webp 1x, ./image/5-gallery/gallery-pic6_xl@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic6_xl.png 1x, ./image/5-gallery/gallery-pic6_xl@2x.png 2x"
                            type="image/png"
                        />                      
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic6_md.webp 1x, ./image/5-gallery/gallery-pic6_md@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic6_md.png 1x, ./image/5-gallery/gallery-pic6_md@2x.png 2x"
                            type="image/png"
                        />                       
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic6_sm.webp 1x, ./image/5-gallery/gallery-pic6_sm@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic6_sm.png 1x, ./image/5-gallery/gallery-pic6_sm@2x.png 2x"
                            type="image/png"
                        />
                        <img class="gallery__image" src="./image/5-gallery/gallery-pic6_sm.png" loading="lazy" alt="Glass of icecream" width="138" height="138"/>
                    </picture>
                </div>
                </figure>
                <figure class="gallery__item gallery__item--7">
                    <div class="gallery__box-img">
                    <picture>								
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic7_xl.webp 1x, ./image/5-gallery/gallery-pic7_xl@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic7_xl.png 1x, ./image/5-gallery/gallery-pic7_xl@2x.png 2x"
                            type="image/png"
                        />                      
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic7_md.webp 1x, ./image/5-gallery/gallery-pic7_md@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic7_md.png 1x, ./image/5-gallery/gallery-pic7_md@2x.png 2x"
                            type="image/png"
                        />                       
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic7_sm.webp 1x, ./image/5-gallery/gallery-pic7_sm@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic7_sm.png 1x, ./image/5-gallery/gallery-pic7_sm@2x.png 2x"
                            type="image/png"
                        />
                        <img class="gallery__image" src="./image/5-gallery/gallery-pic7_sm.png" loading="lazy" alt="Icecream in hand" width="138" height="138"/>
                    </picture>
                </div>
                </figure>
                <figure class="gallery__item gallery__item--8">
                    <div class="gallery__box-img">
                    <picture>								
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic8_xl.webp 1x, ./image/5-gallery/gallery-pic8_xl@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic8_xl.png 1x, ./image/5-gallery/gallery-pic8_xl@2x.png 2x"
                            type="image/png"
                        />                      
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic8_md.webp 1x, ./image/5-gallery/gallery-pic8_md@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic8_md.png 1x, ./image/5-gallery/gallery-pic8_md@2x.png 2x"
                            type="image/png"
                        />                       
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic8_sm.webp 1x, ./image/5-gallery/gallery-pic8_sm@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic8_sm.png 1x, ./image/5-gallery/gallery-pic8_sm@2x.png 2x"
                            type="image/png"
                        />
                        <img class="gallery__image" src="./image/5-gallery/gallery-pic8_sm.png" loading="lazy" alt="Dog licks icecream" width="138" height="138"/>
                    </picture>
                </div>
                </figure>
                <figure class="gallery__item gallery__item--9">
                    <div class="gallery__box-img">
                    <picture>								
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic9_xl.webp 1x, ./image/5-gallery/gallery-pic9_xl@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic9_xl.png 1x, ./image/5-gallery/gallery-pic9_xl@2x.png 2x"
                            type="image/png"
                        />                      
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic9_md.webp 1x, ./image/5-gallery/gallery-pic9_md@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic9_md.png 1x, ./image/5-gallery/gallery-pic9_md@2x.png 2x"
                            type="image/png"
                        />                       
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic9_sm.webp 1x, ./image/5-gallery/gallery-pic9_sm@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic9_sm.png 1x, ./image/5-gallery/gallery-pic9_sm@2x.png 2x"
                            type="image/png"
                        />
                        <img class="gallery__image" src="./image/5-gallery/gallery-pic9_sm.png" loading="lazy" alt="Milkshakes in hand" width="138" height="138"/>
                    </picture>
                </div>
                </figure>
                <figure class="gallery__item gallery__item--10">
                    <div class="gallery__box-img gallery__box-img--10">
                    <picture>								
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic10_xl.webp 1x, ./image/5-gallery/gallery-pic10_xl@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 1200px)"
                            srcset="./image/5-gallery/gallery-pic10_xl.png 1x, ./image/5-gallery/gallery-pic10_xl@2x.png 2x"
                            type="image/png"
                        />                      
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic10_md.webp 1x, ./image/5-gallery/gallery-pic10_md@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./image/5-gallery/gallery-pic10_md.png 1x, ./image/5-gallery/gallery-pic10_md@2x.png 2x"
                            type="image/png"
                        />                       
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic10_sm.webp 1x, ./image/5-gallery/gallery-pic10_sm@2x.webp 2x"
                            type="image/webp"
                        />
                        <source
                            media="(max-width: 767px)"
                            srcset="./image/5-gallery/gallery-pic10_sm.png 1x, ./image/5-gallery/gallery-pic10_sm@2x.png 2x"
                            type="image/png"
                        />
                        <img class="gallery__image" src="./image/5-gallery/gallery-pic10_sm.png" loading="lazy" alt="Icecream on glass" width="138" height="138"/>
                    </picture>
                </div>
                </figure>
            </div>
        </div>
    </div>
</section>