

<header class="header">
    <div class="container">
        <div class="header__inner">

            <a href="./index.html " class="header__logo">logo</a>

            <nav class=" nav ">
                <ul class="nav__list">
                    
                    <li class="nav__item">
                        <a href="" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">About us</a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">How it&#8217s made?</a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">Our products</a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">Contact</a>
                    </li>
                </ul>
            </nav>

            <button class="header__menu-btn" type="button">
                <svg class="header__icon" width="18" height="18">
                    <use class="header__svg-burger"></use>
                    <use class="header__svg-close"></use>
                </svg>
            </button>

            <button class="header__button" type="button">Buy now</button>
            
        </div>
    </div>
</header>