

<header class="header">
    <div class="container ">
        <div class="header__inner">

            <a href="./index.html " class="header__logo">
                <svg class="header__icon" width="199" height="50">

                    <use class="" href="./image/ico/icons.svg#icon-logo"></use>

                </svg>
            </a>

            <nav class=" nav ">
                <ul class="nav__list">

                    <li class="nav__item ">
                        <a href="" class="nav__link current">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">About us</a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">How it&#8217;s made?</a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">Our products</a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">Contact</a>
                    </li>
                </ul>
            </nav>

            <button class="header__menu-btn" type="button" data-menu-button>
                <svg class="header__icon" width="60" height="35">
                    <use class="header__svg-burger" href="./image/ico/icons.svg#icon-mobile-burger"></use>
                    <!-- <use class="header__svg-close" href="./image/ico/icons.svg#icon-mobile-cross"></use> -->
                </svg>
            </button>

            <button class="header__button btn-white btn-other" type="button">Buy now &#62;</button>

        </div>
    </div>
</header>


<div class="mobil-menu">

    <button class="mobil-menu__close-button" type="button" data-menu-button>
        <svg class="header__icon" width="60" height="35">
            <use class="header__svg-close" href="./image/ico/icons.svg#icon-mobile-cross"></use>
        </svg>
    </button>

    <button class="mobil-menu__button btn-white btn-other" type="button">Buy now &#62;</button>

    <nav class="menu-nav ">
        <ul class="menu-nav__list">

            <li class="menu-nav__item ">
                <a href="" class="menu-nav__link current">Home</a>
            </li>
            <li class="menu-nav__item">
                <a href="" class="menu-nav__link">About us</a>
            </li>
            <li class="menu-nav__item">
                <a href="" class="menu-nav__link">How it&#8217;s made?</a>
            </li>
            <li class="menu-nav__item">
                <a href="" class="menu-nav__link">Our products</a>
            </li>
            <li class="menu-nav__item">
                <a href="" class="menu-nav__link">Contact</a>
            </li>
        </ul>
    </nav>

   

    

</div>