<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <!-- Title -->
      <h1 class="hero__title">
        ice cream made with <br>
        <span class="hero__title-span">passion</span>
      </h1>

      <!-- Button -->
      <ul class="hero__button">
        <li><button class="hero__button-link" type="button">Products</button></li>
        <li><button class="hero__button-link" type="button">How it&#146s made?</button></li>
      </ul>

      <!-- Label -->
      <div class="hero__label">
        <picture class="hero__label-picture">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./image/favicon/1-hero-header/milk_xl.png    1x,
              ./image/favicon/1-hero-header/milk_xl@2x.png 2x
            "
            type="image/png"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./image/favicon/1-hero-header/milk_md.png    1x,
              ./image/favicon/1-hero-header/milk_md@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./image/favicon/1-hero-header/milk_xl.png"
            alt="заполненный молоком графин"
            width="213"
            height="216"
          />
        </picture>
        <div class="hero__label-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
      </div>
      </div>

      <!-- Image icecream-->
      <div class="hero__image">
        <picture class="hero__image-picture">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./image/favicon/1-hero-header/hero_xl.png    1x,
              ./image/favicon/1-hero-header/hero_xl@2x.png 2x
            "
            type="image/png"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./image/favicon/1-hero-header/hero_md.png    1x,
              ./image/favicon/1-hero-header/hero_md@2x.png 2x
            "
            type="image/png"
          />
        
          <img
            src="./image/favicon/1-hero-header/hero_xl.png"
            alt="very big tower icecream"
            
          />
        </picture>
      </div> 

      <!-- number of shop -->
      <ul class="hero__shop-list">
        <li class="hero__shop-item">
          <p class="hero__shop-number">16</p>
          <p class="hero__shop-desc">cafes</p>
        </li>
        <li class="hero__shop-item">
          <p class="hero__shop-number">23</p>
          <p class="hero__shop-desc">food trucks</p>
        </li>
      </ul>

      <!-- Image girl -->
      <picture class="hero__girl">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./image/favicon/1-hero-header/girl_xl.png    1x,
            ./image/favicon/1-hero-header/girl_xl@2x.png 2x
          "
          type="image/png"
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./image/favicon/1-hero-header/girl_md.png    1x,
            ./image/favicon/1-hero-header/girl_md@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="image/favicon/1-hero-header/girl_xl.png"
          alt="cool girl eat icecream"
          width="304"
          height="241"
        />
      </picture>
    </div>
  </div>
</section>
