
<div class="backdrop is-hidden" data-buy>
    <div class="buy-now">


        <button class="modal__btn" type="button" data-buy-close>
            <span class="modal__btn-close"></span>
        </button>

        <form class="form">
            <strong class="form__title">Leave your details, we will call you back</strong>
            <div class="form__field">

                <div class="field ">
                    <label class="field__label-title" for="name">Name</label>
                    <input class="input field__input-check" type="text" name="name" id="name" placeholder="name">
                </div>

                <div class="field ">
                    <label class="field__label-title" for="tel">Phone</label>
                    <input class="input field__input-check" type="tel" name="tel" id="tel" placeholder="+380">
                </div>

                <div class="field ">
                    <label class="field__label-title" for="mail">Email</label>
                    <input class="input field__input-check" type="email" name="mail" id="mail" placeholder="e-mail@.com">
                    
                </div>


                <div class="field">
                    <label class="field__label-title" for="Comment">Comment</label>
                    <textarea class="field__comment input " name="Comment" id="Comment" cols="30" rows="4"
                        placeholder="Comment"></textarea>
                </div>

                <button class=" field__button  btn-white btn-other" type="submit">
                    Send <svg class="svg-vector">
                        <use href="./image/ico/icons.svg#icon-button-vector"></use>
                    </svg>
                </button>
            </div>


        </form>
    </div>
</div>