

<div class="backdrop is-hidden" data-franchise>
  <div class="franchise">
    <form class="franchise__form">
      <label class="franchise__fieldset">
        <strong class="franchise__fieldset--title"></strong>
          Fill out the application form below and we will call you back
        </strong>
      </label>
      <label class="franchise__name">
        <span class="franchise__name--desc"> Name </span>
        <input
          class="franchise__name--input"
          type="text"
          placeholder="Your name"
          
        />
      </label>
      <label class="franchise__name">
        <span class="franchise__name--desc"> Company name </span>
        <input
          class="franchise__name--input"
          type="text"
          placeholder="Company name"
          
        />
      </label>
      <label class="franchise__name">
        <span class="franchise__name--desc"> Phone number </span>
        <input
          class="franchise__name--input"
          
          type="text"
          placeholder="+38 000 000 00 00"
          
        />
      </label>
      <label class="franchise__name">
        <span class="franchise__name--desc"> Email </span>
        <input
          class="franchise__name--input"
          type="text"
          placeholder="email@email.com"
          name="email"
        />
      </label>
      <label class="franchise__name">
        <span class="franchise__name--desc">Message</span>
        <textarea class="franchise__name--input franchise__message--input" 
        name="text" id="text" cols="30" rows="4" 
        placeholder="Please insert your message here"></textarea>
        
      </label>
    </form>
    <button class="franchise__btn " type="submit">Send message</button>
    <button class="franchise__btn--close" type="button" data-franchise-close>
      <span class="modal__btn-close"></span>
    </button>
  </div>
</div>
