<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <fieldset>
      <legend class="modal__fieldset">
        Заполните форму заявки ниже, и мы Вам перезвоним
      </legend>
      <label class="=">
        Имя
        <input
          class="modal__fieldset--input"
          type="text"
          placeholder="Ваше имя"
          name="username"
        />
      </label>
      <label class="modal__name">
        Название компании
        <input
          class="modal__name--input"
          type="text"
          placeholder="Название Вашей компании"
          name="username"
        />
      </label>
      <label class="modal__name">
        Номер телефона
        <input
          class="modal__name--input"
          type="text"
          placeholder="+38 000 000 00 00"
          name="phone"
        />
      </label>
      <label class="modal__name">
        Email
        <input
          class="="
          type="text"
          placeholder="email@mail.com"
          name="email"
        />
      </label>
      <label class="modal__message">
        Сообщение
        <input
          class="modal__message--input"
          type="text"
          rows="6"
          placeholder="Введите подробности обращения"
        />
      </label>
    </fieldset>
    <button class="modal__btn" type="submit">Отправить заявку</button>
    <button type="button" data-modal-close>
      <span class="modal__btn-close"></span>
    </button>
  </div>
</div>
