
<div class="backdrop is-hidden" data-buy>
    <div class="buy-now">


        <button class="modal__btn" type="button" data-buy-close>
            <span class="modal__btn-close"></span>
        </button>

        <form class="form">
            <strong class="form__title">Оставьте свои данные, мы вам перезвоним</strong>
            <div class="form__field">

                <div class="field ">
                    <label class="field__label-title" for="name">Имя</label>
                    <input class="input field__input-check" type="text" name="name" id="name" placeholder="name">
                </div>

                <div class="field ">
                    <label class="field__label-title" for="tel">Телефон</label>
                    <input class="input field__input-check" type="tel" name="tel" id="tel" placeholder="+380-">
                </div>

                <div class="field ">
                    <label class="field__label-title" for="mail">Почта</label>
                    <input class="input field__input-check" type="email" name="mail" id="mail" placeholder="@gmail.com">
                    
                </div>


                <div class="field">
                    <label class="field__label-title" for="kомментарий">Комментарий</label>
                    <textarea class="field__comment input " name="kомментарий" id="kомментарий" cols="30" rows="3"
                        placeholder="Введите текст"></textarea>
                </div>

                <button class=" field__button header__button btn-white btn-other" type="submit">Отправить</button>
            </div>


        </form>
    </div>
</div>