<div class="backdrop is-hidden" data-franchise>
  <div class="franchise">
    <form class="franchise__form">
      <label class="franchise__fieldset"
        ><strong>
          Fill out the application form below and we will call you back
        </strong>
      </label>
      <label class="franchise__name">
        <span class="franchise__name--desc"> Name </span>
        <input
          class="franchise__name--input"
          type="text"
          placeholder="Your name"
          name="username"
        />
      </label>
      <label class="franchise__name">
        <span class="franchise__name--desc"> Company name </span>
        <input
          class="franchise__name--input"
          type="text"
          placeholder="Company name"
          name="username"
        />
      </label>
      <label class="franchise__name">
        <span class="franchise__name--desc"> Phone number </span>
        <input
          class="franchise__name--input"
          s
          type="text"
          placeholder="+38 000 000 00 00"
          name="phone"
        />
      </label>
      <label class="franchise__name">
        <span class="franchise__name--desc"> Email </span>
        <input
          class="franchise__name--input"
          type="text"
          placeholder="email@email.com"
          name="email"
        />
      </label>
      <label class="franchise__name franchise__message">
        <span class="franchise__message--desc">Message</span>
        <input
          class="franchise__name--input franchise__message--input"
          type="text"
          rows="6"
          placeholder="Please insert your message here"
        />
      </label>
    </form>
    <button class="franchise__btn" type="submit">Send message</button>
    <button class="franchise__btn--close" type="button" data-franchise-close>
      <span class="modal__btn-close"></span>
    </button>
  </div>
</div>
