<section class="products">
    <div class="container">
        <div class="products__inner">
            <p class="products__label">100% natural</p>
            <h2 class="producst__title">products</h2>
            
            <ul class="card-set">
            <li class="cardset__item">
                <img class="products__photo" src="" alt="">
<h3 class="producst__title">ice cream</h3>
<p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
<button type="products__btn-svg">
    <svg class="products__svg">
    <use></use>
</svg>
</button>
            </li>

            <li class="cardset__item">
                <img class="products__photo" src="" alt="">
                <h3 class="producst__title">ice coffee</h3>
<p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
<button type="products__btn-svg">
    <svg class="products__svg">
        <use></use>
    </svg>
    </button>
            </li>
            <li class="cardset__item">
                <img class="products__photo" src="" alt="">
                <h3 class="producst__title">milkshakes</h3>
<p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </li>
            <button type="products__btn-svg">
                <svg class="products__svg">
                    <use></use>
                </svg>
                </button>
        </ul>

        </div>
    </div>
</section>