<section class="products" id="products">
    <div class="container">
        <div class="products__inner">
          <div class="products__box">
            <p class="products__label">100% natural</p>
            <h2 class="products__main-title">products</h2>
          </div>
  
          <ul class="cardset">
            <li class="cardset__item">
              <div class="products__main-box products__main-box--one">
                <div class="products__set-box" data-card1-front>
                  <h3 class="products__title">ice cream</h3>
                  <span class="products__dotter"></span>
                  <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                  <button class="products__btn-svg" type="button" data-card1-open>
                    <img class="products-array"
                    src="./image/2-products/products-arrow.png"
                    alt="arrow right"
                    width="40"
                    height="40"
                    />
                    </button>
                </div>
                
                  <div class="products__back-card" data-card1-back>
                    <div class="products__back-set">
                      <h3 class="products__back-title">What Is Ice Cream?</h3>
                      <p class="products__back-text">If you place a container of milk or cream in the freezer, you'll end up with a stiff block of frozen liquid, not the soft, creamy ice cream that we're used to. Special techniques are employed to make ice cream that creates smaller ice crystals and incorporates air, which produces a soft texture.</p>
                      <button class="products__back-btn" data-card1-close type="button" alt="button close">
                        <span class="products__back-btn-icon"></span>
                      </button>
                    </div> 
                  </div>
                </div>
            </li>
  
            <li class="cardset__item">
              <div class="products__main-box products__main-box--two">
                <div class="products__set-box" data-card2-front>
                  <h3 class="products__title">ice coffee</h3>
                  <span class="products__dotter"></span>
                  <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                  <button class="products__btn-svg" type="button" data-card2-open>
                    <img class="products-array"
                  src="./image/2-products/products-arrow.png"
                  alt="arrow right"
                  width="40"
                  height="40"
                  />
                  </button>
                </div>

                <div class="products__back-card" data-card2-back>
                  <div class="products__back-set">
                    <h3 class="products__back-title">What Is Ice Coffee?</h3>
                    <p class="products__back-text">Iced coffee is a coffee beverage served cold. It may be prepared either by brewing coffee normally (i.e. carafe, French press, etc.) and then serving it over ice or in cold milk, or by brewing the coffee cold. In hot brewing, sweeteners and flavoring may be added before cooling. Iced coffee can also be sweetened with pre-dissolved sugar in water.</p>
                    <button class="products__back-btn" data-card2-close type="button" alt="button close">
                      <span class="products__back-btn-icon"></span>
                    </button>
                  </div>                  
                </div>
              </div>
            </li>
  
            <li class="cardset__item">
              <div class="products__main-box products__main-box--three">
                <div class="products__set-box" data-card3-front>
                  <h3 class="products__title">milkshakes</h3>
                  <span class="products__dotter"></span>
                  <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button class="products__btn-svg" type="button" data-card3-open>
                      <img class="products-array"
                    src="./image/2-products/products-arrow.png"
                    alt="arrow right"
                    width="40"
                    height="40"
                  />
                    </button>
                </div>

                <div class="products__back-card" data-card3-back>
                  <div class="products__back-set ">
                    <h3 class="products__back-title">What Is Ice Milkshake?</h3>
                    <p class="products__back-text">A milkshake (sometimes simply called a shake) is a sweet beverage made by blending milk, ice cream, and flavorings or sweeteners such as butterscotch, caramel sauce, chocolate syrup, fruit syrup, or whole fruit into a thick, sweet, cold mixture. It may also be made using a base made from non-dairy products, coconut milk, or soy milk..</p>
                    <button class="products__back-btn" data-card3-close type="button" alt="button close">
                      <span class="products__back-btn-icon"></span>
                    </button>
                  </div> 
                </div>                 
              </div>
            </li>
          </ul>
      </div>
  </div>
</section>