<section class="products">
    <div class="container">
        <div class="products__inner">
            <p class="products__description">100% natural</p>
            <h2 class="producst__title">products</h2>
            
            <ul class="cards">
            <li class="cards__item">
                <img class="products__cards__photo" src="" alt="">
<h3 class="cards__titile">ice cream</h3>
<p class="cards__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
<button type="cards__button">
<svg class="cards__svg">
    <use></use>
</svg>
</button>
            </li>

            <li class="cards__item">
                <img class="cards__photo" src="" alt="">
                <h3 class="cards__titile">ice coffee</h3>
<p class="cards__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
<button type="cards__button">
    <svg class="cards__svg">
        <use></use>
    </svg>
    </button>
            </li>
            <li class="cards__item">
                <img class="cards__photo" src="" alt="">
                <h3 class="cards__titile">milkshakes</h3>
<p class="cards__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </li>
            <button type="cards__button">
                <svg class="cards__svg">
                    <use></use>
                </svg>
                </button>
        </ul>

        </div>
    </div>
</section>