
/* -------------------------------------------------------------------------- */
/*  Договориться о названии переменных:
--gap - переменная для одступа слева;
--card-number - переменная кол-ва карт
--top - переменная для одступа сверху
/* -------------------------------------------------------------------------- */


.cardset{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gap));
    margin-top: calc(-1 * var(--top));


&__item{
    flex-basis: calc(100% / var(--card-number) - var(--gap));
    margin-left: var(--gap);
    margin-top: var(--top);
}
}
