

.buy-now {
    position: absolute;
    width:100%;
    height: auto;
    top: 50%;
    left: 50%;
    padding: 50px 15px;
    transform: translate(-50%,-50%);
    background-color: #ffa5baee;
    box-shadow: 0px 0px 36px -9px rgba(132, 45, 121, 1);

    @media screen and (max-width:768px) {
           
            padding-top: 50px;
        }

    @media screen and ( min-width:768px) {
        width: 400px;
        padding: 40px 35px;
        border-radius: 15px;  
    }

    @media screen and (min-width:1200px) {
        width: 500px;
    }
}

.form__title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-bottom: 12px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
}

.field:not(:last-child) {
    margin-bottom: 10px;
}

.field {
    position: relative;

    display: flex;
    flex-direction: column;

    &__label-title {
        margin-bottom: 4px;
    
        font-weight: 700;
        
        font-size: 12px;
        line-height: 1.16;
        color: var(--color-general);
        font-family:var(--font-general);
    }

    &__input-check {
        padding: 12px 20px;
        transition: fill 250ms, border-color 250ms;
        outline: transparent;

        &::placeholder {
            font-family: var(--font-general);
            color: rgba(117, 117, 117, 0.5);
        }
    }

    &__comment {
        width: 100%;
        min-height: 120px;
        padding: 12px 20px;
        margin-bottom: 15px;
        outline: transparent;

        resize: none;

        &::placeholder {
            font-family: var(--font-general);
            color: rgba(117, 117, 117, 0.5);
        }
    }

    &__button { 
        width: 155px;
        height: 44px;
        font-weight: 700;

        display: flex;
        align-items: center;
        justify-content: space-around;
        

        margin-left: auto;
        margin-right: auto;  
    }  
}

.input {
    outline: transparent;
    border-radius: 30px ; 
    border: 1px solid var(--color-second);

    &:hover,
    &:focus {
    border: 1px solid var(--color-general);
    box-shadow: inset 0px 0px 4px 1px rgba(239, 11, 35, 1);
    }
}


