.advantages__inner{
    background-color: #FFF5F6;
}



.advantages__text{
    color:var(--color-title);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
}

.advantages__icon{
 fill: var(--color-second);
}
