.customer__photo {
    width: 85px;
    height: 85px;
}

.slider {
    display: flex;
    position: relative;
    
}

.slider__item  {
    width: 968px;
    // height: 138px;
}

.customer__dots {
    position: absolute;
    width: 4 px;
    height: 4px;
    color: var(--color-general);
    border-radius: 50%;
}