.customer {
    margin-top: 120px;
}

.customer__inner {
    display: flex;
    justify-content: center;
}

.slider {
    width: 100%;
}

.slider__item {
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.customer__photo {
    width: 85px;
    height: 85px;
    margin: 0 auto 16px auto;
}

.customer__circle {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #C7133E;
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    margin-top: 4px;
    bottom: -30px;
}

.customer__circle::after,
.customer__circle::before {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #C7133E;
    position: absolute;
    border-radius: 50%;
    
}

.customer__circle::before {
    left: -10px;
}

.customer__circle::after {
    right: -10px;
}

.customer__review {
    background-color: #FAFAFA;
    background-image: url(../image/6-customer-reviews/review_png.png);
    background-repeat: no-repeat;
    position: relative;
    

    @media screen and (min-width: 320px) {
        padding: 43px 58px 26px 65px;
        background-position: left 15% top 30px;
    }

    @media screen and (min-width: 768px) {
        padding: 37px 55px 44px 50px;
        background-position: left 5px top 20px;
    }

    @media screen and (min-width: 1200px) {
        padding: 47px 109px 39px 109px;
        background-position: left 9% top 30px;
    }
}

.review__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 2.6;
    text-align: center;
    letter-spacing: 0.04em;
    margin: 0;
    background: repeating-linear-gradient(180deg, transparent 0px, transparent 30px, #E1E1E1 30px, #E1E1E1 31px);
    background-size: 62px auto;
    color: #000000;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.8;
    }

}


.customer__name {
    margin-top: 36px;
    font-weight: 500;
    font-size: 20px;
    line-height: 186%;
    color: #000000;
}

.slick-dots {
    display: flex;
    justify-content: center;
    gap: 18px;
    padding: 0;
}

.slick-dots>li>button {
    width: 12px;
    height: 12px;
    background-color: #D9D9D9;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
}

.slick-dots>.slick-active>button {
    background-image: url(../image/6-customer-reviews/home-icon.png);
    background-size: cover;
    border-radius: 0;
    background-color: transparent;
}