// Footer styles set

.footer {
  background-color: #fff5f6;
}

.footer__text {
  max-width: 234px;
  margin-top: 40px;

  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;

  color: #ffa5ba;

  &--bold {
    display: inline-block;
    margin-top: 16px;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #d41443;
  }
}

// Footer Socials Icons Styles

.socials {
  fill: #fea5bb;

  display: flex;
  gap: 28px;
  align-items: center;
  justify-content: center;
  float: right;

  max-width: 152px;

  margin-top: 40px;
  margin-right: 20px;
  margin-left: auto;
}

.socials__link {
  &:hover {
  }
}

.footer__contacts {
  display: inline-block;
  float: right;
  max-width: 230px;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: auto;

  &--text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */

    text-align: right;

    color: #000000;
  }

  &--tel {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    text-align: right;

    color: #d41443;

    text-decoration: none;
  }
}

// Footer Copyright styles

.footer__copyright {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  /* or 21px */

  text-align: center;

  color: #907e82;

  &::before {
    content: '';
    display: inline-block;
    width: 100vw;
    border-top: 1px solid #e1e1e1;
  }
}

.content {
  display: flex;
  flex-direction: column;
  float: right;
}
