.gallery__grid {
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    grid-template-columns: repeat(28, 1fr);
    gap: 5px;
}
.gallery__item {
    margin: 0;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 10;
}
.gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 8;
}
.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 12;
}
.gallery__item--4 {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 2;
    grid-row-end: 10;
}
.gallery__item--5 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 10;
    grid-row-end: 14;
}
.gallery__item--6 {
    grid-column-start: 17;
    grid-column-end: 21;
    grid-row-start: 5;
    grid-row-end: 9;
}
.gallery__item--7 {
    grid-column-start: 17;
    grid-column-end: 21;
    grid-row-start: 9;
    grid-row-end: 13;
}
.gallery__item--8 {
    grid-column-start: 21;
    grid-column-end: 25;
    grid-row-start: 4;
    grid-row-end: 8;
}
.gallery__item--9 {
    grid-column-start: 21;
    grid-column-end: 25;
    grid-row-start: 8;
    grid-row-end: 12;
}
.gallery__item--10 {
    grid-column-start: 25;
    grid-column-end: 29;
    grid-row-start: 6;
    grid-row-end: 10;
}
