
.header {
    display: block;
    background-color: #FFB8CA;  
}


.header__inner {
    display: flex;
    align-items: center;
}


.header__logo {
    padding: 8px 0;
    fill: var(--color-general);

    @media screen and (min-width: 768px) {
        padding: 32px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 37px 0;
        margin-right: 128px;
    }
}

    

.nav {

    display: none;

    @media screen and (min-width: 1200px) {
        display: flex;
    }

}

.nav__list{
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav__link {   
    font-family: 'DM Sans';
    padding: 37px 0;
        
    font-weight: 700;
    font-size: 16px;
    line-height: 1,31;
        
    color: #FFFFFF;

    &:hover,
    &:focus {
        color: var(--color-general);
    }
}



.header__menu-btn {
    border: none;
    padding: 0;
    margin-left: auto;
    background-color: #FFB8CA;
    
    @media screen and (min-width: 768px) {
        margin-right: 32px;
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.header__svg-burger {
    
    transition: 250ms;

    & {
        fill: var(--color-general);
    }

    .header__menu-btn.is-open & {
        opacity: 0;

    }
}



.header__svg-close {

    opacity: 0;
    transition: 250ms;

    & {
        fill: var(--btn-white);
    }
    
    .header__menu-btn.is-open & {
        opacity: 1;
    }
}



.header__button {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        width: 159px;
        height: 44px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }
    
}